*,
*:after,
*:before {
box-sizing: border-box;
color: whitesmoke;
margin: 0;
padding: 0;
}

/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #231641;
$dark-green: #0F2826;
$light-green: #244533; 

body {
  // background-color: $primary-background;
  margin: 0
}

// HEADER
header {
  background-color: #0A0A13;
  display: flex;
  justify-content: space-between;
  height: 20vh
}

header p {
  align-self: flex-start;
  color: whitesmoke;
  margin: 1% 0 0 1%
}

#overlook {
  align-self: center;
  color: white;
  justify-self: center;
}

#address {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0 1% 1%
}

// MAIN
main {
  background-color: $primary-background;
  display: flex;
  height: 80vh;
}

.login {
  align-self: center;
  align-items: center;
  background-color: $dark-green;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-around;
  justify-self: center;
  width: 30%;
}

#username,
#password {
  display: flex;
  justify-content: space-around;
  width: 55%
}

#login-btn {
  width: 50%;
}

//MANAGER PAGE
.manager-page {
  display: flex;
  width: 100%
}

#manager-search {
 width: 70%
}

#manager-info {
  align-items: center;
  background-color: $dark-green;
  display: flex;
  flex-direction: column;
  padding: 1%;
  // justify-content: space-evenly;
  width: 30%
}

#mgr-info-top {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 25%;
  text-align: center;
  width: 100%
}

#mgr-info-top span{
  font-size: 2em;
}

.welcome {
  font-size: 1.5em;
  margin-bottom: 3%;
}

#stats {
  border-top: $light-green solid 2px;
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
  width: 100%
}

#total-revenue,
#num-rooms-available,
#percent-booked {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%
}

#mgr-current-bookings {
  border-top: $light-green solid 2px;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  padding-top: 3%;
  text-align: center;
  width: 100%
}


.hide {
  display: none;
}